nav {
  width: 100%;
  height: 80px;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
}

nav img {
  height: calc(100% - 40px);
  transform: translateX(-10px);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

nav ul li.active a {
  text-decoration: underline;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  nav {
    padding: 0 10px;
  }
  nav img {
    height: calc(100% - 20px);
    transform: translateX(0);
  }
  nav ul li.active {
    display: none;
  }
}
